.tweet{id: "#{@tweet.twitter_uid}"}
  = image_tag(@tweet.author.avatar_url,
              class: "avatar",
              alt: @tweet.author.twitter_username,
              title: @tweet.author.twitter_username)
  %p#text
    = h @tweet.text
